---
import { getTagUrl } from '../../utils/tags';

interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{tags.length > 0 && (
  <ul class="flex flex-wrap gap-2" aria-label="Aiheet">
    {tags.map((tag) => (
      <li>
        <a href={getTagUrl(tag)} class="badge transition hover:border-cyan-500/50 hover:text-cyan-300">
          {tag}
        </a>
      </li>
    ))}
  </ul>
)}
